nav{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    a{
        font-size: 2rem;
        text-decoration: none;
        color: black;
        &:hover{
            color: rgba(0, 0, 0, 0.6);
        }
    }
}